<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <title>Dashboard | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="layout-wrapper">

        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>
        </div>

        @Html.Partial("_Theme")
        @Html.Partial("_Footer")

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
</body>
</html>
